In [11]:
import mysql.connector as connector
import json

# DB 접속 정보
args = {
    'host': 'localhost',
    'user': 'root',
    'password': 'root1234',
    'port': 3306,
    'database': 'student_db'
}

# DB 접속 함수
def get_connection(args):
    return connector.connect(**args)

# 학생 정보 추가 함수
def add_student(name, age, scores):
    try:
        conn = get_connection(args)
        cursor = conn.cursor()
        
        # 올바른 SQL 쿼리 작성
        query = "INSERT INTO students (name, age, scores) VALUES (%s, %s, %s)"
        cursor.execute(query, (name, age, json.dumps(scores)))  # %s 바인딩 방식 사용
        
        conn.commit()  # 올바른 commit 호출
        return True
    except Exception as e:
        print("Error:", e)
        return False
    finally:
        if 'conn' in locals() and conn:
            cursor.close()
            conn.close()

In [12]:
add_student("홍길동", 25,{'kor':95, 'eng':95, 'math':100})

True

In [13]:
def get_student(name = None):
    conn = None
    cursor = None
    try:
        conn = get_connection(args) # 접속
        cursor = conn.cursor() # 쿼리실행 객체
        if name:
            query = f"select * from students where name = {name}"
        query = "select * from students" # 쿼리 문장
        cursor.execute(query) # 쿼리 실행
        students = cursor.fetchall() # 실행 한 쿼리의 리턴값(없으면 None)
        print(students)
    except Exception as e:
        print("Error:", e)
        return False
    finally:
        if 'conn' in locals() and conn:
            cursor.close()
            conn.close()

In [16]:
get_student()

[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (2, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (3, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (4, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (5, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (6, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]

In [5]:
get_student("홍길동")

[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (2, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (3, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (4, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (5, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]

In [6]:
import json

def update_student(id, name=None, age=None, scores=None):
    conn = None
    cursor = None
    updates = []  # 업데이트할 필드를 저장할 리스트
    
    try:
        # 데이터베이스 연결
        conn = get_connection(args)  # 이 부분은 연결 정보를 받아오는 함수 (예: 사용자 정의)
        cursor = conn.cursor()  # 쿼리 실행 객체
        
        # 전달된 인자에 따라 업데이트할 필드를 추가
        if name:
            updates.append(f"name = '{name}'")
        if age:
            updates.append(f"age = {age}")
        
        # scores가 JSON 데이터일 경우, JSON 문자열로 변환하여 업데이트
        if scores:
            # JSON 데이터를 문자열로 변환
            scores_json = json.dumps(scores)
            updates.append(f"scores = '{scores_json}'")
        
        # 업데이트할 필드가 있는 경우
        if updates:
            updates_query = ", ".join(updates)  # 여러 업데이트 필드를 쉼표로 구분
            
            # UPDATE 쿼리 작성
            query = f"UPDATE students SET {updates_query} WHERE student_id = {id};"
            
            # 쿼리 실행
            cursor.execute(query)
            conn.commit()  # 변경사항을 DB에 반영
            
            print(f"학생 ID {id}의 정보가 성공적으로 업데이트되었습니다.")
        else:
            print("업데이트할 필드가 없습니다.")
        
    except Exception as e:
        print("Error:", e)
        return False
    finally:
        if 'conn' in locals() and conn:
            cursor.close()
            conn.close()

In [7]:
def get_student_2(id = None, name = None, age = None):
    conn = None
    cursor = None
    selects = []
    try:
        conn = get_connection(args) # 접속
        cursor = conn.cursor() # 쿼리실행 객체
        if id:
            selects.append(f"id = {id}")
        if name:
            selects.append(f"name = '{name}'")
        if age:
            selects.append(f"age = {age}")
        selects_query = ""

        if selects:
            selects_query = "WHERE "
            selects_query += " and ".join(selects)
            
        query = f"select * from students {selects_query};"
        print(query)
        cursor.execute(query) # 쿼리 실행
        students = cursor.fetchall() # 실행 한 쿼리의 리턴값(없으면 None)
        print(students)
    except Exception as e:
        print("Error:", e)
        return False
    finally:
        if 'conn' in locals() and conn:
            cursor.close()
            conn.close()

In [15]:
get_student_2(None, '홍길동')
get_student_2()
get_student_2(1)
get_student_2(age = 25)
get_student_2(1, '홍길동', 25)

select * from students WHERE name = '홍길동';
[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (2, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (3, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (4, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (5, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (6, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]
select * from students ;
[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (2, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (3, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (4, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (5, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (6, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]
select * from students WHERE id = 1;
[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]
select * from students WHERE age = 25;
[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (2, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (3, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (4, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (5, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}'), (6, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]
select * from students WHERE id = 1 and name = '홍길동' and age = 25;
[(1, '홍길동', 25, '{"eng": 95, "kor": 95, "math": 100}')]